body {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input, button, textarea, select {
    font-family: inherit;
}

$fontPrimary: Verdana, Geneva, sans-serif; 
$clrAccent: rgb(255, 102, 0);
$clrTxtPrimary: #000;
$clrTxtSecondary: #828282;
$clrBg: rgb(246, 246, 239);

@mixin grid {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
}