@import 'config';

body {
    font-family: $fontPrimary;
}

.app-header {
    @include grid;
}

.header {
    display: flex;
    gap: 1em;
    grid-column: 2 / -2;
    background-color: $clrAccent;
}

.router-outlet {
    @include grid;
}

.story {
    grid-column: 2 / -2;
    background-color: $clrBg;
    color: $clrTxtSecondary;
    padding: 0.5em 0.2em;

    &__title,
    &__comments {
        text-decoration: none;
        color: $clrTxtPrimary;
    }

    &__line:nth-child(2) {
        padding-top: 0.1em;
        font-size: 0.8rem;
    }

    &__favorite {
        display: inline-block;
        background-color: transparent;
        border: none;
        font-size: inherit;
        cursor: pointer;
    }

    &__comments:hover,
    &__comments:focus,
    &__favorite:hover,
    &__favorite:focus {
        text-decoration: underline;
    }
}