@import 'config';

body {
    font-family: $fontPrimary;
}

.app-header {
    @include grid;
    margin-top: 1em;
}

.header {
    display: flex;
    align-items: center;
    gap: 1em;
    grid-column: 2 / -2;
    padding: 0.3em 0.2em;
    background-color: $clrAccent;

    & > div {
        display: flex;
        align-items: center;
        gap: 0.8em;
    }

    &__title {
        font-weight: bold;
    }

    &__link {
        text-decoration: none;
        color: white;
    }

    &__link:hover,
    &__link:focus {
        text-decoration: underline;
    }
}

.fa-y-combinator {
    font-size: 1.5rem;
}

.router-outlet {
    @include grid;
    margin-bottom: 1em;
}

.story {
    grid-column: 2 / -2;
    background-color: $clrBg;
    color: $clrTxtSecondary;
    padding: 0.5em 0.2em;

    &__title,
    &__comments {
        text-decoration: none;
        color: $clrTxtPrimary;
    }

    &__line:nth-child(2) {
        padding-top: 0.1em;
        font-size: 0.8rem;
    }

    &__favorite {
        display: inline-block;
        background-color: transparent;
        border: none;
        font-size: inherit;
        cursor: pointer;
    }

    &__comments:hover,
    &__comments:focus,
    &__favorite:hover,
    &__favorite:focus {
        text-decoration: underline;
    }
}